{% extends '@EasyAdmin/default/layout.html.twig' %}
{% block content_title %}
    {% apply spaceless %}
        {% set _default_title = 'Importar inscriptos' %}
        {{ _entity_config.new.title is defined ? _entity_config.new.title|trans(_trans_parameters) : _default_title }}
    {% endapply %}
{% endblock %}
{% block main %}
    {% block entity_form %}
        {{ form_start(form, {'action': path('importar_inscriptos'), 'method': 'POST'}) }}
        {{ form_row(form.congreso) }}
        <br>
            <div class="custom-file">
            {{ form_row(form.archivo) }}
</div>
<br>
<br>

        {{ form_end(form) }}
        
    {% endblock entity_form %}
{% endblock %}